@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
:root{
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 31;
}
.App {
  text-align: center;
  font-family: 'Indie Flower', cursive !important;
  background-color: var(--bg-color);
  // background: #FDE3A7;
  margin: 0px;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.timeBox{
    width: 100px;
    height: 100px;
    color: red;
    background: grey;
    margin: 10px;
    background: linear-gradient(to right, #ffb6c1, cyan, #85FF85, #FFFF85 );
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 5px 9px 0px;
    background-size: 300%;
    font-size: 3em;
    animation: flowing 5s infinite alternate;
    border-radius: 10px;
}
h1{
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    font-family: "Source Code Pro", monospace;
    position: relative;
    &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &::before{
        background-color: var(--bg-color);
        animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
    }
    &::after{
        background-color: black;
        width: 0.123em;
        animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms 1s infinite;
    }
}

@keyframes typewriter {
    to{
        left:100%;
    }
}
@keyframes blink {
    to{
        background-color: transparent;
    }
}
@keyframes flowing {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.cover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(3em);
    animation: fadeInCover 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.timeBox p{
    font-size:10px;
}
@keyframes fadeInCover {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.small{
  font-size: 15px;
}

